includes:
    - themes/bring-theme/vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
	level: 9
	paths:
		- themes/bring-theme/src
		- themes/bring-theme/index.php
		- themes/bring-theme/functions.php
	bootstrapFiles:
		- themes/bring-theme/vendor/php-stubs/acf-pro-stubs/acf-pro-stubs.php