@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* Colors themes
	========================================================================== */

	/**
	 * Define colors with HSL values.
	 *
	 * Define theme colors by name in :root which can be used by their names like bg-blue. 
	 * These colors won't change based on the theme.
	 *
	 * 
	 * Then define colors by function of the default theme in :root which will change based on the theme. 
	 * For example, text-primary will change based on the theme.
	 * Then define the same colors by function for each theme.
	 *
	 * This approach provides a better building experience. 
	 * Add a theme selector to the section block so blocks inside the section will fit to the theme by default.
	 *	
	 * Do not forget to add 
	 * - the defined CSS variables to tailwind config
	 * - the color names to the color list so they can be used in the editor
	 */

	/* Colors by name */
	:root {
		/* Brand colors */
		--purple-400: 270 95% 75%;
		--purple-600: 271 81% 56%;
		--purple-800: 273 67% 39%;
		/* Gray colors */
		--gray-50: 210 20% 98%;
		--gray-100: 220 14% 96%;
		--gray-200: 220 13% 91%;
		--gray-300: 216 12% 84%;
		--gray-400: 218 11% 65%;
		--gray-500: 220 9% 46%;
		--gray-600: 215 14% 34%;
		--gray-700: 217 19% 27%;
		--gray-800: 215 28% 17%;
		--gray-900: 221 39% 11%;
		/* Basic colors */
		--white: 0 0% 100%;
		--black: 0 0% 0%;
		--transparent: 0 0% 100% 0;
		/* Other colors */
		--red-500: 0 84% 60%;
		--red-600: 0 72% 51%;
		--red-900: 0 63% 31%;
	}

	/* Light theme */
	.light {
		/* Default background color of <body /> */
		--background: var(--transparent);
		--foreground: var(--gray-900);

		/* Muted backgrounds such as <TabsList />, <Skeleton /> and <Switch /> */
		--muted: var(--gray-50);
		--muted-foreground: var(--gray-500);

		/* Background color for <Card /> */
		--card: var(--white);
		--card-foreground: var(--gray-900);

		/* Background color for popovers such as <DropdownMenu />, <HoverCard />, <Popover /> */
		--popover: var(--white);
		--popover-foreground: var(--gray-900);

		/* Default border color */
		--border: var(--gray-200);
		/* Border color for inputs such as <Input />, <Select />, <Textarea /> */
		--input: var(--gray-200);
		/* Used for focus ring */
		--ring: var(--gray-900);

		/* Primary colors for <Button /> */
		--primary: var(--gray-900);
		--primary-foreground: var(--gray-50);

		/* Secondary colors for <Button /> */
		--secondary: var(--gray-50);
		--secondary-foreground: var(--gray-900);

		/* Used for accents such as hover effects on <DropdownMenuItem>, <SelectItem>...etc */
		--accent: var(--gray-50);
		--accent-foreground: var(--gray-900);

		/* Used for destructive actions such as <Button variant="destructive"> */
		--destructive: var(--red-500);
		--destructive-foreground: var(--gray-50);
	}

	/* Dark theme */
	.dark {
		--background: var(--gray-900);
		--foreground: var(--gray-50);
		--muted: var(--gray-800);
		--muted-foreground: var(--gray-400);
		--card: var(--gray-900);
		--card-foreground: var(--gray-50);
		--popover: var(--gray-900);
		--popover-foreground: var(--gray-50);
		--border: var(--gray-800);
		--input: var(--gray-800);
		--ring: var(--gray-200);

		--primary: var(--gray-50);
		--primary-foreground: var(--gray-900);
		--secondary: var(--gray-800);
		--secondary-foreground: var(--gray-50);
		--accent: var(--gray-800);
		--accent-foreground: var(--gray-50);
		--destructive: var(--red-900);
		--destructive-foreground: var(--gray-50);
	}

	/* Apply default theme */
	:root {
		@apply light;
	}

	/* Apply based defaults */
	html,
	.dark,
	.light {
		@apply text-foreground;
	}

	/*  Layout & General
	========================================================================== */
	html {
		font-family: "Montserrat", "Helvetica", "open-sans";
		@apply text-16;
	}

	#bringContent {
		@apply flex min-h-screen flex-col;
	}

	#bringContent > main {
		@apply flex-grow;
	}

	.scroll-container {
		-ms-overflow-style: none; /* Internet Explorer 10+ */
		scrollbar-width: none; /* Firefox */
	}

	.scroll-container::-webkit-scrollbar {
		display: none; /* Safari and Chrome */
	}

	* {
		@apply border-border;
	}

	/* Content
	========================================================================== */

	/**
	 * Heading styles
	 *
	 * Define heading and headline default styles.
	 * The way used in the code below allows to use any heading styles for different heading elements.
	 * For example you need the heading semantically to be a H2 byt you want it as a H3 style.
	 *
	 * Do not forget to add the defined styles to the tailwindMerge config in the lib/utils file to properly merge these classes.
	 */

	h1,
	.h1,
	.h1 h1,
	.h1 h2,
	.h1 h3,
	.h1 h4,
	.h1 h5,
	.h1 h6 {
		@apply text-28s font-bold uppercase tracking-tight;
	}

	h2,
	.h2,
	.h2 h1,
	.h2 h2,
	.h2 h3,
	.h2 h4,
	.h2 h5,
	.h2 h6 {
		@apply text-26s font-semibold tracking-[.02em];
	}

	h3,
	.h3,
	.h3 h1,
	.h3 h2,
	.h3 h3,
	.h3 h4,
	.h3 h5,
	.h3 h6 {
		@apply text-18s font-semibold uppercase tracking-[.14em];
	}

	h4,
	.h4,
	.h4 h1,
	.h4 h2,
	.h4 h3,
	.h4 h4,
	.h4 h5,
	.h4 h6 {
		@apply text-18s font-semibold tracking-[.1em];
	}

	h5,
	.h5,
	.h5 h1,
	.h5 h2,
	.h5 h3,
	.h5 h4,
	.h5 h5,
	.h5 h6 {
		@apply text-15s font-semibold;
	}

	h6,
	.h6,
	.h6 h1,
	.h6 h2,
	.h6 h3,
	.h6 h4,
	.h6 h5,
	.h6 h6 {
		@apply text-13 font-semibold;
	}

	.hl1,
	.hl1 h1,
	.hl1 h2,
	.hl1 h3,
	.hl1 h4,
	.hl1 h5,
	.hl1 h6 {
		@apply text-22 font-medium tracking-[.01em];
	}

	.hl2,
	.hl2 h1,
	.hl2 h2,
	.hl2 h3,
	.hl2 h4,
	.hl2 h5,
	.hl2 h6 {
		@apply text-18 font-medium tracking-[.01em];
	}

	/**
	 * Markdown styles
	 *
	 * Define markdown styles for the content to have default margins and paddings.
	 * Use .md class for these default markdown classes for example for the markdown block.
	 * 
	 * Probably you need a variation for markdown style for example in the blog content.
	 * In this case, you can define a new class like .blog-md and/or .blog .md
	 * These approaches provides a better building experience.
	 */
	.md h1,
	.md h2,
	.md h3,
	.md h4,
	.md h5,
	.md h6 {
		@apply mb-2 mt-6 pb-2;
	}

	.md p {
		@apply mb-3;
	}

	.md ul {
		@apply mb-3 list-disc pl-8;
	}

	.md ol {
		@apply mb-3 list-decimal pl-8;
	}

	.md li {
		@apply mt-1 first:mt-0;
	}

	.md a {
		@apply text-accent-foreground underline;
	}

	.md figure {
		@apply mb-3;
	}

	.md strong {
		@apply font-semibold;
	}

	.md code,
	code {
		padding: 0.2em 0.4em;
		margin: 0;
		font-size: 85%;
		border-radius: 3px;
		@apply bg-gray-700 text-red-500;
	}

	/* Miscellaneous
	 ========================================================================== */

	.block-editor .hide-in-editor {
		display: none !important;
	}

	.block-editor .visible-in-editor {
		opacity: 1 !important;
	}

	.purple-radial-gradient-lg {
		background: radial-gradient(rgb(147 51 234) 50%, transparent 60%);
	}
}
