# Backend base URL
NEXT_PUBLIC_WP_BASE_URL="http://localhost:8080"

# Should match the DATA_TOKEN set on the backend
DATA_TOKEN="very-secret-data-token" # should be generated with `openssl rand -base64 32`
